<html>
<head>
<title>Mustache Example</title>
</head>
<body>
<h1>{{title}}</h1>
<div >
<div>
<h4> {{subject}} </h4>
<p>
{{contents}}
</p>
<div>
The author's name will be displayed here
</div>
</div>
</body>
</html>